@font-face {
    font-family: kenzo;
    src: url(../res/Kenzo-Regular.otf);
}

*{
	box-sizing: border-box;
}

body, html{
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
	display:table;
}

p{
	font-size: 1.3em;
}

h2{
	color: #3C75AF;
}
.colorize{
	color: #3C75AF;
}

.wrapper{
	width: 100%;
	padding: 0;
}

.hire {
  border: 1px solid #3C75AF;
  background-color: #3C75AF;
  border-radius: 4px;
  color: #FFF;
  padding: 8px 20px 8px 20px;
}

.hire:hover
{
  background-color: #FFF;
}

.hire-connection {
  border: 1px solid #3C75AF;
  background-color: #3C75AF;
  border-radius: 4px;
  color: #FFF;
  padding: 8px 20px 8px 20px;
  text-decoration: none;
}

.hire-connection:hover
{
  border: 1px solid #3C75AF;
  background-color: #f5f2f2;
  color: #3C75AF;
}

.row{
	width: 100%;
	clear:both;
	margin-top: 2em;
	display: inline-block;
	padding: 0 6em;
}



@media only screen and (max-width: 600px) {

	.column-s-3{
		width: 25%
	}

	.column-s-4{
		width: 33.33%;
	}

	.column-s-6{
		width: 50%;
	}

	.column-s-offset-6{
		margin-left: 37% !important;
	}

	.column-s-8{
		width: 75%;
	}

	.column-s-12{
		width:100vw;
		padding: 5%;
	}

	.row{
		padding: 0 2em;
	}
}

@media only screen and (min-width: 601px){
	/*Desktop*/

	.column-3{
		width: 25%
	}

	.column-4{
		width: 33.33%;
	}

	.column-6{
		width: 45%;
	}

	.column-offset-6{
		margin-left: 37% !important;
	}

	.column-8{
		width: 75%;
	}

	.column-12{
		width:100%;
	}

}
[class*="column-"]{

    margin: 0 auto;
    padding: 0.1em;
    display: block;
    float:left;
}

.social-icons i{
	font-size: 50px;
	border-radius: 50%;
	padding: 0.2em;
	color: #3C75AF;
  border: 1px solid #ffffff;
  margin-right: 5px;
}

.social-icons i:hover
{
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: #3C75AF;
}

.profile-picture{
	max-width:100%;
	height: auto
}

.vl{
    font-size: 2.5em;
    color: #3C75AF;
}

h3{
	display: inline-block;
	font-size: 1.8em;
}

.skill-wrapper {
	text-align: left;
	margin: 1em;
	padding: 1em;
}

.skill-header{
	font-size: 1.5em;

}

.skill-desc{
	font-size: 1.1em;
	align-content: center;
}

.skill-border{
	border: 2px solid #236B8E;
	border-radius: 50% 50%;
	padding: 0.7em;
	width:50px;
	height:50px;
}

.skill-icon{
	font-size: 50px;
	color: #3C75AF;
	text-align: center;
}

#projects{
	background-color: #F4F2F2;
}

#connection{
	background-color: #F4F2F2;
	padding: 2em 2.5em;
}

.project-desc {
	background-color: white;
	box-shadow: 5px 5px 10px -5px rgba(0, 0, 0, 0.4);
	margin: 0 1em;
	border-radius: 10px 10px;
}

.project-desc p{
	padding: 0 1em 1em 1em;
	font-size: 1em;
}

.project-desc h2{
	padding-left:0.5em;
}

.readmore
{
  color: #3C75AF;
  text-decoration: none;
  font-weight: bold;
}

.readmore:hover
{
  /* color: black; */
  text-decoration: underline;
}

.project-image{
	width: 100%;
	height: auto;
}

.tagline{
	color: #3C75AF;
}

.project-button{
	border-radius: 8px;
	background-color: #3C75AF;
	padding: 12px 38px;
  border: 1px solid #3C75AF;
}

.project-button:hover {
  border: 1px solid #3C75AF;
  background-color: #f5f2f2;
  color: #3C75AF;
}

.project-button-link{
	text-align: center;
}
.project-button-link a{
	text-decoration: none;
	color: white;
}

.project-button-link a:link {
    color: white;
}

/* visited link */
.project-button-link a:visited {
    color: white;
}

/* mouse over link */
.project-button-link a:hover {
    color: white;
}

/* selected link */
.project-button-link a:active {
    color: white;
}

#about-me{
    margin-left: 10%;
}
.footer{
	margin-top: 5%;
	max-width: 100%
	height: 200px;
	background-color: #3C75AF;
}
