body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

.topbanner
{
  margin: 0px;
  background-color: #efc74f;
  height: 25px;
  padding-top: 6px;
  padding-bottom: 2px;
  text-align: center;
}

nav {
  padding: 1% 5% 0% 5%;
  margin: 10px 0px 10px 0px;
}

nav ul {
  margin: 1% 0% 1% 0%;
  list-style-type: none;
  float: right;
}

nav li {
  display: inline;
}

.logo
{
  width: 15%;
  height: auto;
}

nav a {
  color: #222222;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  vertical-align: middle;
}

nav .currentpage
{
  color: #3C75AF;
  border-bottom: 1.5px solid #3C75AF;
  /* text-decoration: underline; */
}

nav a:hover
{
  color: #3C75AF;
}

.hire {
  border: 1px solid #3C75AF;
  background-color: #3C75AF;
  border-radius: 4px;
  color: #FFF;
  padding: 8px 20px 8px 20px;
}

.hire:hover
{
  background-color: #FFF;
}

.bluetitlesection
{
  background-color: #F6F8FB;
}

.bluetitlesection h1
{
  padding-top: 40px;
  padding-bottom: 40px;
  font-weight: 100;
  text-align: center;
  color: #222222;
}

.project--container
{
  max-width: 90%;
  margin: 10% 5% 0% 5%;
}

.project--container--blue
{
  max-width: 90%;
  margin: 10% 5% 0% 5%;
  background-color: #F6F8FB;
}

.project--photo
{
  float: left;
  width: 41%;
  height: auto;
  overflow: hidden;
  /* padding-top: 2%;
  padding-bottom: 2%; */
}

.project--photo img
{
  width: 100%;
  height: auto;
  border-radius: 4px;
  /* height: 200px; */
  /* width: auto; */
}

.project--text
{
  width: 57%;
  height: auto;
  float: right;
  padding-left: 2%;
  padding-top: 0px;
}

.project--text h2
{
  margin: 0px;
  color: #3C75AF;
  font-weight: lighter;
}

.project--text h4
{
  margin: 5px 0px 0px 0px;
  font-weight: 100;
  color: #3C75AF;
}

.project--text p
{
  margin: 5px 0px 0px 0px;
  color: #222222;
}

.githublink
{
  border: 1px solid #3C75AF;
  background-color: #3C75AF;
  border-radius: 4px;
  color: #FFF;
  padding: 8px 20px 8px 20px;
  text-decoration: none;
  font-weight: 100;
}

.githublink:hover
{
  background-color: #FFF;
  color: #3C75AF;
}

.separator
{
  clear: both;
}

.contactad
{
  max-width: 90%;
  margin: 5% 5% 0% 5%;
  background-color: #F6F8FB;
  height: 100px;
  border-radius: 4px;
  padding: 2.5%;
}

.contactad h3
{
  font-weight: lighter;
  font-size: 1.5em;
  color: #3C75AF;
}

.contactad p
{
  line-height: 0px;
  font-weight: 100;
}

.contactadright
{
  float: right;
  padding-top: 4%;
}

.contactadbutton
{
  border: 1px solid #3C75AF;
  background-color: #3C75AF;
  border-radius: 4px;
  color: #FFF;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.contactadbutton:hover
{
  background-color: #F6F8FB;
  color: #3C75AF;
}

footer
{
  margin-top: 5%;
  background-color: #3C75AF;
  height: 200px;
}

.footerinfo
{
  max-width: 90%;
  margin: 5% 5% 0% 5%;
}

.footerinfo img
{
  padding-top: 5%;
}

.footerinfo p
{
  color: #ffffff;
}

.footerinfo a
{
  color: #FFFFFF;
  text-decoration: none;
}

.footerinfo a:hover
{
  color: #000000;
}

.createdby
{
  padding-top: 4%;
  float: right;
}

.createdby h4
{
  color: #ffffff;
  font-weight: 200;
  margin: 0px;
}

.createdby p
{
  color: #ffffff;
  font-size: 12px;
  font-weight: 100;
  line-height: 5px;
}

.createdby hr
{
  border-width: 0.5px;
  color: white;
}

.createdby a
{
  color: #FFFFFF;
  text-decoration: none;
}

.createdby a:hover
{
  color: #000000;
}
